<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>book</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>insertring</display-name>
    <servlet-name>insertring</servlet-name>
    <servlet-class>insertring</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertring</servlet-name>
    <url-pattern>/insertring</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>displayring</display-name>
    <servlet-name>displayring</servlet-name>
    <servlet-class>displayring</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>displayring</servlet-name>
    <url-pattern>/displayring</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ringdisplay</display-name>
    <servlet-name>ringdisplay</servlet-name>
    <servlet-class>ringdisplay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ringdisplay</servlet-name>
    <url-pattern>/ringdisplay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletering</display-name>
    <servlet-name>deletering</servlet-name>
    <servlet-class>deletering</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletering</servlet-name>
    <url-pattern>/deletering</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>edit</display-name>
    <servlet-name>edit</servlet-name>
    <servlet-class>edit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>edit</servlet-name>
    <url-pattern>/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editring</display-name>
    <servlet-name>editring</servlet-name>
    <servlet-class>editring</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editring</servlet-name>
    <url-pattern>/editring</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>insert</display-name>
    <servlet-name>insert</servlet-name>
    <servlet-class>insert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insert</servlet-name>
    <url-pattern>/insert</url-pattern>
  </servlet-mapping>
</web-app>